// Primary Colors
$yot-sea-of-tears: hsl(220, 75%, 36%);
$yot-feather-star:hsl(216, 90%, 67%);
$yot-appricote-ice:hsl(38, 100%, 96%);
$yot-vibrant-orange:hsl(23, 100%, 56%);
$yot-aconite-purple:hsl(261, 68%, 56%);
$yot-rapsody-blue:hsl(203, 82%, 13%);
$yot-see-goddess:hsl(195, 56%, 33%);

//Neutral Colors
$yot-white:hsl(0, 0%, 100%);
$yot-black:hsl(0, 0%, 0%);
$yot-red:hsl(0, 100%, 50%);
$yot-green:hsl(120deg 80% 53%);

// Font Size
$yot-fs-t:0.625rem; //10px
$yot-fs-xsm:0.75rem; // 12px
$yot-fs-sm:0.875rem; // 14px
$yot-fs-m:1rem; // 16px
$yot-fs-l:1.125rem; // 18px
$yot-fs-xl:1.25rem; // 20px
$yot-fs-xxl:1.375rem; // 22px
$yot-fs-jsm:1.875rem; // 30px
$yot-fs-jm:2.25rem; // 36px


// Font Family

