// ======================================== //
//     Content Space MARGIN TOP Content     //
// ======================================== //
.yot-content-space-margin-t-0{ // 0px
    margin-top: 0rem;
}

.yot-content-space-margin-t-48{ // 48px
   margin-top: 3rem;
}

.yot-content-space-margin-t-80{ // 80px
   margin-top: 5rem;
}

.yot-content-space-margin-t-120{ // 120px
    margin-top: 7.5rem;
}

.yot-content-space-margin-t-160{ // 160px
    margin-top: 10rem;
}

.yot-content-space-margin-t-200{ // 200px
    margin-top: 12.5rem;
}

// ======================================== //
//    Content Space MARGIN BOTTOM Content   //
// ======================================== //
.yot-content-space-margin-b-0{ // 0px
    margin-bottom: 0rem;
}

.yot-content-space-margin-b-48{ // 48px
    margin-bottom: 3rem;
}

.yot-content-space-margin-b-80{ // 80px
    margin-bottom: 5rem;
}

.yot-content-space-margin-b-120{ // 120px
    margin-bottom: 7.5rem;
}

.yot-content-space-margin-b-160{ // 160px
    margin-bottom: 10rem;
}

.yot-content-space-margin-b-200{ // 200px
   margin-bottom: 12.5rem;
}

// =================================================  //
//     Content Space MARGIN TOP BOTTOM Content       //
// ================================================== //
.yot-content-space-margin-tb-0{ // 0px
    margin: 0rem;
}

.yot-content-space-margin-tb-48{ // 48px
    margin: 3rem  0rem;
}

.yot-content-space-margin-tb-80{ // 80px
    margin: 5rem 0rem;
}

.yot-content-space-margin-tb-120{ // 120px
    margin: 7.5rem 0rem;
}

.yot-content-space-margin-tb-160{ // 160px
    margin: 10rem 0rem;
}

.yot-content-space-margin-tb-200{ // 200px
    margin: 12.5rem 0rem;
}
