.yot-tc-vibrant-orange{
    color:$yot-vibrant-orange;
}

.yot-tc-black{
    color:$yot-black;
}

.yot-tc-white{
    color:$yot-white;
}

// .yot-tc-yellow{
//     color:$yot-yellow;
// }

// .yot-tc-purple{
//     color:$yot-purple;
// }

.yot-tc-red{
    color:$yot-red;
}

.yot-tc-green{
    color:$yot-green;
}