.yot-text-fs-t{
    font-size: $yot-fs-t; // 10px
}

.yot-text-fs-xsm{
    font-size: $yot-fs-xsm; // 12px
}

.yot-text-fs-sm{
    font-size: $yot-fs-sm; // 14px
}

.yot-text-fs-m{
    font-size: $yot-fs-m; // 16px
}

.yot-text-fs-l{
    font-size: $yot-fs-l; // 18px
}

.yot-text-fs-xl{
    font-size: $yot-fs-xl; // 20px
}

.yot-text-fs-xxl{
    font-size: $yot-fs-xxl; // 22px
}

.yot-text-fs-jsm{
    font-size: $yot-fs-jsm;
}

.yot-text-fs-jm{
    font-size: $yot-fs-jm;
}



