// ======================================== //
//              Padding Top                  //
// ======================================== //
.yot-pt-0 {
    padding-top: 0rem; // 0px
}

.yot-pt-4{ // 4px
    padding-top: 0.25rem;
}

.yot-pt-8{ // 8px
    padding-top: 0.5rem;
}

.yot-pt-16{ // 16px
    padding-top: 1rem;
}

.yot-pt-24{ // 24px
    padding-top: 1.5rem;
}

.yot-pt-48{ // 48px
    padding-top: 3rem;
}

// ======================================== //
//              padding Right               //
// ======================================== //
.yot-pr-0 {
    padding-right: 0rem; // 0px
}

.yot-pr-4{ // 4px
    padding-right: 0.25rem;
}

.yot-pr-8{ // 8px
    padding-right: 0.5rem;
}

.yot-pr-16{ // 16px
    padding-right: 1rem;
}

.yot-pr-24{ // 24px
    padding-right: 1.5rem;
}

.yot-pr-48{ // 48px
    padding-right: 3rem;
}

// ======================================== //
//              padding Bottom               //
// ======================================== //
.yot-pb-0 {
    padding-bottom: 0rem; // 0px
}

.yot-pb-4{ // 4px
    padding-bottom: 0.25rem;
}

.yot-pb-8{ // 8px
    padding-bottom: 0.5rem;
}

.yot-pb-16{ // 16px
    padding-bottom: 1rem;
}

.yot-pb-24{ // 24px
    padding-bottom: 1.5rem;
}

.yot-pb-48{ // 48px
    padding-bottom: 3rem;
}

// ======================================== //
//              padding Left                 //
// ======================================== //
.yot-pl-0 {
    padding-left: 0rem; // 0px
}

.yot-pl-4{ // 4px
    padding-left: 0.25rem;
}

.yot-pl-8{ // 8px
    padding-left: 0.5rem;
}

.yot-pl-16{ // 16px
    padding-left: 1rem;
}

.yot-pl-24{ // 24px
    padding-left: 1.5rem;
}

.yot-pl-48{ // 48px
    padding-left: 3rem;
}

// ======================================== //
//      padding COpbO TOP - BOTTOM           //
// ======================================== //
.yot-ptb-0{ // 0px
    padding: 0rem;
}

.yot-ptb-4{ // 4px
    padding: 0.25rem 0rem;
}

.yot-ptb-8{ // 8px
    padding: 0.5rem 0rem;
}

.yot-ptb-16{ // 16px
    padding: 1rem 0rem;
}

.yot-ptb-24{ // 24px
    padding: 1.5rem 0rem;
}

.yot-ptb-48{ // 48px
    padding: 3rem 0rem;
}

// ======================================== //
//      padding COpbO LEFT - RIGHT          //
// ======================================== //
.yot-plr-0{ // 0px
    padding: 0rem;
}

.yot-plr-4{ // 4px
    padding: 0rem 0.25rem;
}

.yot-plr-8{ // 8px
    padding: 0rem 0.5rem;
}

.yot-plr-16{ // 16px
    padding: 0rem 1rem;
}

.yot-plr-24{ // 24px
    padding: 0rem 1.5rem;
}

.yot-plr-48{ // 48px
    padding: 0rem 3rem;
}


// ==================================== //
//      padding COpbO All               //
// =================================== //
.yot-pa-0{ // 0px
    padding: 0rem;
}

.yot-pa-4{ // 4px
    padding: 0.25rem;
}

.yot-pa-8{ // 8px
    padding: 0.5rem;
}

.yot-pa-16{ // 16px
    padding: 1rem;
}

.yot-pa-24{ // 24px
    padding: 1.5rem;
}

.yot-pa-48{ // 48px
    padding: 3rem;
}