// ======================================== //
//     Content Space PADDING TOP Content    //
// ======================================== //
.yot-content-space-padding-t-0{ // 0px
    padding-top: 0rem;
}

.yot-content-space-padding-t-48{ // 48px
    padding-top: 3rem;
}

.yot-content-space-padding-t-80{ // 80px
    padding-top: 5rem;
}

.yot-content-space-padding-t-120{ // 120px
    padding-top: 7.5rem;
}

.yot-content-space-padding-t-160{ // 160px
    padding-top: 10rem;
}

.yot-content-space-padding-t-200{ // 200px
    padding-top: 12.5rem;
}

// ======================================== //
//  Content Space PADDING BOTTOM Content    //
// ======================================== //
.yot-content-space-padding-b-0{ // 0px
    padding-bottom: 0rem;
}

.yot-content-space-padding-b-48{ // 48px
    padding-bottom: 3rem;
}

.yot-content-space-padding-b-80{ // 80px
    padding-bottom: 5rem;
}

.yot-content-space-padding-b-120{ // 120px
    padding-bottom: 7.5rem;
}

.yot-content-space-padding-b-160{ // 160px
    padding-bottom: 10rem;
}

.yot-content-space-padding-b-200{ // 200px
    padding-bottom: 12.5rem;
}

// =================================================  //
//     Content Space PADDING TOP BOTTOM Content       //
// ================================================== //
.yot-content-space-padding-tb-0{ // 0px
    padding: 0rem;
}

.yot-content-space-padding-tb-48{ // 48px
    padding: 3rem  0rem;
}

.yot-content-space-padding-tb-80{ // 80px
    padding: 5rem 0rem;
}

.yot-content-space-padding-tb-120{ // 120px
    padding: 7.5rem 0rem;
}

.yot-content-space-padding-tb-160{ // 160px
    padding: 10rem 0rem;
}

.yot-content-space-padding-tb-200{ // 200px
    padding: 12.5rem 0rem;
}
