// ======================================== //
//              margin Top                  //
// ======================================== //
.yot-mt-0 {
    margin-top: 0rem; // 0px
}

.yot-mt-4{ // 4px
    margin-top: 0.25rem;
}

.yot-mt-8{ // 8px
    margin-top: 0.5rem;
}

.yot-mt-16{ // 16px
    margin-top: 1rem;
}

.yot-mt-24{ // 24px
    margin-top: 1.5rem;
}

.yot-mt-48{ // 48px
    margin-top: 3rem;
}

// ======================================== //
//              margin Right                //
// ======================================== //
.yot-mr-0 {
    margin-right: 0rem; // 0px
}

.yot-mr-4{ // 4px
    margin-right: 0.25rem;
}

.yot-mr-8{ // 8px
    margin-right: 0.5rem;
}

.yot-mr-16{ // 16px
    margin-right: 1rem;
}

.yot-mr-24{ // 24px
    margin-right: 1.5rem;
}

.yot-mr-48{ // 48px
    margin-right: 3rem;
}

// ======================================== //
//              margin Bottom               //
// ======================================== //
.yot-mb-0 {
    margin-bottom: 0rem; // 0px
}

.yot-mb-4{ // 4px
    margin-bottom: 0.25rem;
}

.yot-mb-8{ // 8px
    margin-bottom: 0.5rem;
}

.yot-mb-16{ // 16px
    margin-bottom: 1rem;
}

.yot-mb-24{ // 24px
    margin-bottom: 1.5rem;
}

.yot-mb-48{ // 48px
    margin-bottom: 3rem;
}

// ======================================== //
//              margin Left                 //
// ======================================== //
.yot-ml-0 {
    margin-left: 0rem; // 0px
}

.yot-ml-4{ // 4px
    margin-left: 0.25rem;
}

.yot-ml-8{ // 8px
    margin-left: 0.5rem;
}

.yot-ml-16{ // 16px
    margin-left: 1rem;
}

.yot-ml-24{ // 24px
    margin-left: 1.5rem;
}

.yot-ml-48{ // 48px
    margin-left: 3rem;
}

// ======================================== //
//      margin COMBO TOP - BOTTOM           //
// ======================================== //
.yot-mtb-0{ // 0px
    margin: 0rem;
}

.yot-mtb-4{ // 4px
    margin: 0.25rem 0rem;
}

.yot-mtb-8{ // 8px
    margin: 0.5rem 0rem;
}

.yot-mtb-16{ // 16px
    margin: 1rem 0rem;
}

.yot-mtb-24{ // 24px
    margin: 1.5rem 0rem;
}

.yot-mtb-48{ // 48px
    margin: 3rem 0rem;
}

// ======================================== //
//      margin COMBO LEFT - RIGHT          //
// ======================================== //
.yot-mlr-0{ // 0px
    margin: 0rem;
}

.yot-mlr-4{ // 4px
    margin: 0rem 0.25rem;
}

.yot-mlr-8{ // 8px
    margin: 0rem 0.5rem;
}

.yot-mlr-16{ // 16px
    margin: 0rem 1rem;
}

.yot-mlr-24{ // 24px
    margin: 0rem 1.5rem;
}

.yot-mlr-48{ // 48px
    margin: 0rem 3rem;
}

// ==================================== //
//      margin COMBO All               //
// =================================== //
.yot-ma-0{ // 0px
    margin: 0rem;
}

.yot-ma-4{ // 4px
    margin: 0.25rem;
}

.yot-ma-8{ // 8px
    margin: 0.5rem;
}

.yot-ma-16{ // 16px
    margin: 1rem;
}

.yot-ma-24{ // 24px
    margin: 1.5rem;
}

.yot-ma-48{ // 48px
    margin: 3rem;
}